<div class="container padding-top">
  <h3>Meus Planos de Viagem</h3>
  <% @trip_plans.each do |trip_plan| %>
  <ul class="list-unstyled padding-top">
    <%= render trip_plan %>
  </ul>
  <% end %>
</div>
