// color names from http://www.color-blindness.com/color-name-hue/

$white: #fff;
$mango-tango: #f27500;
$flamingo: #e55b5b;
$gainsboro: #e8e8e8;
$slate-gray: #7d7f93;
$bright-turquoise: #2fd8f9;
$dodger-blue: #2e93f7;
$sulu: #a6f461;

$primary: $bright-turquoise;
