<h5>Matches deste plano</h5>
<% if matches.accepted.any? %>
  <% matches.accepted.each do |match| %>
    <p>Usuário: <%= match.user.email %> </p>
  <% end %>
<% else %>
  <p>Ainda não existem matches.</p>
<% end  %>
